<h1>Contacts</h1>
<% @contacts.each do |contact| %>
  <h3>First Name:</h3> <%= contact.first_name %>
  <h3>Last Name:</h3> <%= contact.last_name %>
  <h3>E-mail:</h3> <%= contact.email %>
  <h3>Phone Number:</h3> <%= contact.phone_number %>
  <br /><br />
<% end %>
