<h1>Contacts</h1>
<% @contacts.each do |contact| %>
  First Name: <%= contact.first_name %> Last Name: <%= contact.last_name %> E-mail: <%= contact.email %> Phone Number: <%= contact.phone_number %>
  <br /><br />
<% end %>
