

<%= form_tag "/send_contacts", method: :post do %>
  <div>
    <label for="First Name">First name:</label> <input type="text" name="first_name" id="First Name">
  </div>
  <div>
  <label for="Last Name">Last name:</label> <input type="text" name="last_name" id="Last Name">
  </div>
  <div>
    <label for="E-mail">E-mail:</label> <input type="text" name="email" id="E-mail">
  </div>
  <div>
    <label for="Phone Number">Phone number:</label> <input type="text" name="phone_number" id="Phone Number">
  </div>
  <div>
      <input type="submit" value="Send Message">
  </div>
<% end %>
